.layout {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS", "Comic Sans", cursive;
    -fx-alignment: center;
    -fx-spacing: 30px;
    -fx-padding: 50px;
    -fx-background-image: url("spider-mode.jpg");
}

.label-title {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-padding: 5px;
}

.label-score {
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-padding: 5px;
}

.button-start {
    -fx-background-color: black;
    -fx-text-fill: #f44336;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.label-author {
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-padding: 20px;
    -fx-background-color: white;
    -fx-padding: 5px;
}

.tile {
    -fx-background-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-alignment: center;
}

.toggle-button {
    -fx-background-color: #ffccd5;
    -fx-text-fill: black;
    -fx-font-family: "Comic Sans MS", "Comic Sans", cursive;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #a3263a;
    -fx-border-width: 2px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.5, 0.0, 0.0);
}

.toggle-button:selected {
    -fx-background-color: #a3263a;
    -fx-text-fill: white;
    -fx-border-color: white;
}

.toggle-button:hover {
    -fx-background-color: #ffe6eb;
}


